body{
    font-family: sans-serif;
    font-size:18px;
    margin:0;
}
img {
    max-width: 100%;
}
a{
    text-decoration:none;

}
.landing-page{
    display:grid;
    grid-template-columns:repeat(1fr);
    grid-template-rows: repeat(1fr);
}
.top{
    height:100vh;
}
.bg__desktop{
    height:100vh;
    position: absolute;
    background-color: hsl(193, 100%, 96%);
    z-index: -1;
}
.header__top,
.header__description,
.box,
.contact,
.request{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}
.bg__logo{
    width: 200px;
}
.description__body{
    width: 450px;
}
.header__text{
    line-height: 1.9em;
    margin-bottom:50px;
}
.bg__mockups{
    margin-top:50px;
    width:850px;
}
.img{
    width:550px;
}
.box,
.request{
    margin: 50px 100px;
    margin-left:auto;
    margin-right:auto;
    height: 500px;
    width: 1300px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(167, 166, 166, 0.664);
}
.img__margin{
    margin:0px 20px 0px 100px;
}
.item-1{
    margin-top: 160px;
}
.item-2{
    grid-row: 3/4;
}
.item-3{
    grid-row: 4/5;
    margin-bottom: 250px;
}
.request{
    position:absolute;
    flex-direction:column;
    justify-content: space-evenly;
    margin-top:2900px;
    margin-left: 600px;
    width:600px;
    height: 200px;
    background-color: #fff;
}
.request__question{
    margin:0;
}

.contact{
    justify-content: space-evenly;
    margin:0px 0px 0px 0px ;
    height:600px;
    color: #fff;
    background-color: hsl(192, 100%, 9%);
    grid-row: 6/7;
}
.contact__dates{
    width:350px;
}
.dates,
.faq1{
    margin-bottom:25px;
}
.FAQ,
.FAQ-2{
    line-height: 3rem;
    width: 110px;
}
.FAQ-2{
    width:90px;
}
.copy{
    font-size: 0.8rem;
    margin-top:180px;
}
.social__media{
    margin-bottom:250px;
}
.bottom{
    border-radius:40px;
    padding:15px 80px;
    box-shadow: 0px 0px 5px rgb(189, 188, 188);
}
.bottom--white{
    background-color: #fff;
    color: #333;
}
.bottom--pink{
    background-color: hsl(322, 100%, 66%);
    color:#fff;
}
